<h1>Listing contactus</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contactus.each do |contactu| %>
  <tr>
    <td><%= contactu.name %></td>
    <td><%= contactu.email %></td>
    <td><%= contactu.subject %></td>
    <td><%= contactu.message %></td>
    <td><%= link_to 'Show', contactu %></td>
    <td><%= link_to 'Edit', edit_contactu_path(contactu) %></td>
    <td><%= link_to 'Destroy', contactu, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contactu', new_contactu_path %>
